# Streamlit app
streamlit==1.30.0
rich<14  # To satisfy Streamlit 1.30.0 dependency
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2

# Data
numpy==1.25.2
pandas==2.0.3

# Mapping / GIS
folium==0.19.1
geopandas==1.2.1
shapely==2.1.1
pyproj==3.6.0

# Visualization
matplotlib==3.8.0
plotly==5.17.0

# Utilities
requests==2.31.0
